body{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ca9507+0,fcd04e+51,ca9307+100 */
    background: rgb(202,149,7); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(202,149,7,1) 0%, rgba(252,208,78,1) 51%, rgba(202,147,7,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(202,149,7,1) 0%,rgba(252,208,78,1) 51%,rgba(202,147,7,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(202,149,7,1) 0%,rgba(252,208,78,1) 51%,rgba(202,147,7,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca9507', endColorstr='#ca9307',GradientType=1 ); /* IE6-9 */
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
#global{
    width: 800px;
    margin: 10% auto;
    background-color:rgba(228,212,134,255)
}
header h1{
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 1.4em;
    padding: 5%;
    margin: 0 auto;
}

section{
    border-top: 2px solid black;
    margin: 2% 5% 0 5%;
}
h2{
    font-size: 1.1em;
    color:rgb(0, 0, 96)
    
}
h3{
    color: rgb(47, 47, 141);
    font-size: 1.0em;
    margin-left: 20px;
}
p{
    font-size: 0.9em;
    margin-left: 20px; 
    text-align: justify;
}

footer{
    border-top: 2px solid black ;
    text-align:right;
    margin: 0 5% 5% 5%;
    padding: 2%;
    
}
h5{
    font-weight:normal;
    font-style:italic;
    margin: 0;

}
img{
    display:block;
    margin: 0 auto;
}
a{
    color: black;
}
a:hover{
    color:black;
    background-color:gold;
}
.arrow{
    background-color: rgb(54, 53, 53) ;
    color: white;
    padding: 4px;
}